.App {
  text-align: center;
  width: 50%;
  /*border: 5px solid green;*/

  margin: 20px;
}

.alpaca {
  float: right;
  margin-left: 0;
  /*border: 5px solid green;*/
  /*padding: 10px;*/
  margin: 20px;
  padding: 10px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EEECEE;

  font-size: calc(10px + 2vmin);
  color: black;
  float: right;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.view {

}

.background {
   position: absolute;
   z-index: 1;
}

.neck {
  position: absolute;
  z-index: 2;
}
.accessories {
  position: absolute;
  z-index: 4;
}
.ears {
  position: absolute;
  z-index: 3;
}
.eyes {
  position: absolute;
  z-index: 4;
}

.hair {
  position: absolute;
  z-index: 4;
}

.leg {
  position: absolute;
  z-index: 2;
}
.mouth {
  position: absolute;
  z-index: 4;
}
.nose {
  position: absolute;
  z-index: 3;
}
